<%- include("header") -%>
<div class="box" id="heading">
    <h1><%= listTitle %></h1>
    <h1>Skill #<%= skillNum %></h1>
    <h3><%= skill.skill %></h3>
    <h3> Level <%= skill.level %></h3>
  </div>
<%- include("footer") -%>