<%- include("header") -%>
<div class="box" id="heading">
    <h1><%= item.title %></h1>
    <h3> Detail:  <%= item.detail %></h3>
    <h3> Priority: <%= item.priority %></h3>
    <h3> Deadline: <%= item.deadline %></h3>
  </div>
<%- include("footer") -%>